<h2>Welcome to the Dashboard, {{currentUser.name}}</h2>
<a href="/logout">Log Out</a>
<p><a href="#!/add"><button>Add Nerd</button></a>
<div ng-controller="nerdController">
    <h4>Active Nerds</h4>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Likes</th>
                <th>Action</th>
                <th>Change Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="nerd in activeNerds">
                <td>{{nerd.name}}</td>
                <td>{{nerd.power}}</td>
                <td>{{nerd.like}}</td>
                <td><a href = "" ng-click = "like(nerd._id)">like</a></td>
                <td><a href = "" ng-click = "change(nerd._id)">Make Inactive</a></td>
            </tr>
        </tbody>
    </table>

    <h4>Inactive Nerds</h4>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Likes</th>
                <th>Action</th>
                <th>Change Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="nerd in inactiveNerds">
                <td>{{nerd.name}}</td>
                <td>{{nerd.power}}</td>
                <td>{{nerd.like}}</td>
                <td><a href = "" ng-click = "like(nerd._id)">like</a></td>
                <td><a href = "" ng-click = "change(nerd._id)">Make Active</a></td>
            </tr>
        </tbody>
    </table>
</div>